<template>
  <v-app>
    <div id="background-image"></div>
    <div class="container">
      <my-nav />
      <h3>{{ titre }}</h3>
      <div id="code-container" v-show="post">
        <highlightjs autodetect :code="contenu" />
        <div id="stats">
          <ul>
            <li>
              Par
              <NuxtLink :to="`/utilisateur/${auteur}`">
                {{ auteur }}
              </NuxtLink>
            </li>
            <li>{{ dateStr }}</li>
            <li>{{ langage }}</li>
          </ul>
        </div>

        <div id="boutons">
          <v-btn class="action" v-if="!copie" @click="copierCode()"
            >Copier code</v-btn
          >
          <v-btn class="action success" v-else>Code copié !</v-btn>

          <div id="boutons-vote" v-show="idUtilisateur">
            <v-btn
              id="upvote"
              :class="[statutVote === 1 ? 'vote' : '']"
              @click="upvoter()"
              ><i class="fa-solid fa-thumbs-up"></i
            ></v-btn>
            <v-btn
              id="downvote"
              :class="[statutVote === -1 ? 'vote' : '']"
              @click="downvoter()"
              ><i class="fa-solid fa-thumbs-down"></i
            ></v-btn>
          </div>

          <v-btn
            class="action supprimer"
            :v-show="adminMode"
            @click="supprimerPost()"
            >Supprimer</v-btn
          >
        </div>
      </div>
    </div>
  </v-app>
</template>

<script lang="ts">
import axios from "axios";
import { Post } from "~/interfaces/post";
import { getFullDate } from "~/scripts/helper";
import { getData } from "nuxt-storage/local-storage";
import navbar from "~/components/navbar.vue";

export default defineComponent({
  setup() {},
  data: () => {
    return {
      post: undefined as Post | undefined,
      idPost: "",
      idUtilisateur: "",
      titre: "",
      contenu: "",
      auteurID: "",
      auteur: "placeholder",
      langage: "",
      dateStr: "",
      scoreVote: 0,
      statutVote: 0,
      copie: false,
      adminMode: false,
    };
  },

  components: {
    myNav: navbar,
  },

  methods: {
    async fetchPost() {
      const payload = { id_post: this.idPost };
      const params = new URLSearchParams(payload);

      axios
        .get(`http://localhost/api/post/get_post_by_id.php?${params}`)
        .then((response) => {
          return response.data;
        })
        .then((data) => {
          return new Post(
            data["id"],
            data["titre"],
            data["contenu"],
            data["auteur"],
            data["auteurID"],
            data["dateStr"],
            data["langage"],
            data["scoreVote"]
          );
        })
        .then((p: Post) => {
          this.post = p;
          this.contenu = p.contenu;
          this.titre = p.titre;
          this.auteur = p.auteur;
          this.auteurID = p.auteurID;
          this.dateStr = getFullDate(p.datePublication);
          this.langage = p.langage;
          this.scoreVote = p.scoreVote;
        })
        .catch(() => {
          alert("Erreur lors de la récupération du post");
        });
    },

    async voter(valeurVote: number) {
      if (!this.idUtilisateur) {
        return;
      }

      const formData = new FormData();
      formData.append("id_post", this.idPost);
      formData.append("id_utilisateur", this.idUtilisateur);

      const cible = valeurVote === 1 ? "upvoter" : "downvoter";

      axios
        .post(`http://localhost/api/post/${cible}.php`, formData)
        .then((response) => {
          return response.data;
        })
        .then((result) => {
          if (result["message"].includes("Echec")) {
            alert("Échec du vote");
          } else {
            this.statutVote = valeurVote;
          }
        });
    },

    async upvoter() {
      await this.voter(1);
    },

    async downvoter() {
      await this.voter(-1);
    },

    async getStatutVote() {
      if (!this.idUtilisateur) {
        this.statutVote = 0;
        return;
      }

      const payload = {
        id_post: this.idPost,
        id_utilisateur: this.idUtilisateur,
      };
      const params = new URLSearchParams(payload);

      axios
        .get(`http://localhost/api/post/statut_vote.php?${params}`)
        .then((response) => response.data)
        .then((data) => (this.statutVote = data["valeur"]));
    },

    async copierCode() {
      try {
        await navigator.clipboard.writeText(this.contenu);
        this.copie = true;
        setInterval(() => {
          this.copie = false;
        }, 1200);
      } catch (err) {
        console.error("Failed to copy: ", err);
      }
    },

    async supprimerPost() {
      const form = new FormData();
      form.append("id_post", this.idPost);
      form.append("id_auteur", this.idUtilisateur);
      axios
        .post("http://localhost/api/post/supprimer_post.php", form)
        .then((response) => response.status)
        .then((status) => {
          if (status === 201) {
            alert("Post supprimé !");
            this.$router.push("/");
          } else {
            alert("Échec de la suppression du post");
          }
        })
        .catch(() => alert("Échec de la suppression du post"));
    },
  },

  async mounted() {
    this.idUtilisateur = getData("id_utilisateur");
    this.idPost = this.$route.params.id as string;
    if (!this.idPost) {
      this.$router.push("/");
    }

    await this.fetchPost()
      .then(() => this.getStatutVote())
      .then(
        () => (this.adminMode = this.idUtilisateur === this.post?.auteurID)
      );
  },
});
</script>

<style scoped lang="scss">
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import "~/styles/style.css";
@import "~/styles/postPreview.css";
</style>
