<template>
  <div id="background-image" />

  <div class="container">
    <my-nav />
    <div id="profil" v-show="pret && !erreur">
      <v-card id="user-card">
        <img
          :src="infos.base64Photo"
          alt="`Photo de profil de ${nomUtilisateur}`"
        />
        <v-card-title>{{ infos.nomUtilisateur }}</v-card-title>
        <v-card-text>
          <ul>
            <li>Inscrit·e le {{ infos.dateInscription }}</li>
            <li>{{ nbPosts }}</li>
            <li>Votes : {{ moyenneVotes }}</li>
          </ul>
        </v-card-text>
        <v-card-actions v-show="adminMode">
          <div class="text-center">
            <v-btn color="primary">
              Modifier photo

              <v-dialog v-model="dialog" activator="parent" width="auto">
                <v-card>
                  <v-form v-model="modificationsValides">
                    <v-container>
                      <v-col cols="12" md="12" class="form">
                        <v-file-input
                          v-model="avatar"
                          :rules="reglesAvatar"
                          accept="image/png, image/jpeg"
                          placeholder="Choisissez un avatar"
                          prepend-icon="mdi-camera"
                          label="Avatar"
                        ></v-file-input>

                        <v-btn
                          :disabled="!modificationsValides"
                          @click="modifier()"
                          >Valider</v-btn
                        >
                      </v-col>
                    </v-container>
                  </v-form>
                </v-card>
              </v-dialog>
            </v-btn>
          </div>
        </v-card-actions>
      </v-card>

      <div id="liste-posts-user">
        <post-preview
          v-show="listePosts.length > 0"
          v-for="post in listePosts.slice((page - 1) * 5, page * 5)"
          :key="post.id"
          :titre="post.titre"
          :auteur="post.auteur"
          :id-post="post.id"
          :id-auteur="post.auteurID"
          :langage="post.langage"
          :date="parseDatetime(post.dateStr)"
          :score-vote="post.scoreVote"
        />

        <div id="pagination" :v-show="maxPage > 1">
          <v-btn :disabled="page <= 1" @click="page = Math.max(0, page - 1)"
            ><i class="fa-solid fa-arrow-left"></i
          ></v-btn>
          <v-btn
            :disabled="page >= maxPage"
            @click="page = Math.min(maxPage, page + 1)"
            ><i class="fa-solid fa-arrow-right"></i
          ></v-btn>
          <p>Page {{ page }} / {{ maxPage }}</p>
        </div>
        <span v-show="!listePosts">Aucun post</span>
      </div>
    </div>

    <div v-show="erreur">Le compte {{ infos.nomUtilisateur }} n'existe pas</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Post } from "~/interfaces/post";
import { getData } from "nuxt-storage/local-storage";
import axios from "axios";
import { dateTimeStrToDate, dateToString } from "~/scripts/helper";
import postPreview from "~/components/postPreview.vue";
import Navbar from "~/components/navbar.vue";

export default defineComponent({
  components: { postPreview: postPreview, myNav: Navbar },

  data: () => {
    return {
      pret: false,
      erreur: false,
      infos: {
        nomUtilisateur: "",
        adresseMail: "",
        dateInscription: "",
        base64Photo: "",
        idUtilisateur: "",
      },
      avatar: undefined as File[] | undefined,

      modificationsValides: false,
      listePosts: [] as Post[],
      nbPosts: "",
      moyenneVotes: 0,
      adminMode: false,
      methodeTri: "date",
      page: 1,
      maxPage: 10,
      dialog: false,
      reglesAvatar: [
        (f: File[]) => {
          return (
            !f ||
            !f.length ||
            f[0].size < 16000000 ||
            "L'avatar doit peser moins de 16 MB!"
          );
        },
      ],
    };
  },
  methods: {
    async fetchInfos() {
      const payload = { nom_utilisateur: this.infos.nomUtilisateur };
      const params = new URLSearchParams(payload);
      axios
        .get(`http://localhost/api/utilisateur/get_details.php?${params}`)
        .then((response) => response.data)
        .then((data) => {
          this.infos.idUtilisateur = data["id_utilisateur"];
          this.infos.adresseMail = data["adresse_mail"];

          this.adminMode =
            getData("id_utilisateur") === this.infos.idUtilisateur;
          this.infos.dateInscription = dateToString(
            dateTimeStrToDate(data["date_inscription"])
          );
          this.infos.base64Photo = `data:image/png;base64,${data["photo"]}`;
        })
        .catch(() => (this.erreur = true))
        .then(async () => await this.fetchPosts());
    },

    fetchPosts() {
      const payload = { id_utilisateur: this.infos.idUtilisateur };
      const params = new URLSearchParams(payload);

      axios
        .get(`http://localhost/api/post/get_posts_by_user.php?${params}`)
        .then((response) => {
          return response.data;
        })
        .then((data) => {
          for (const element of data) {
            this.listePosts.push(
              new Post(
                element["id"],
                element["titre"],
                "",
                this.infos.nomUtilisateur,
                element["auteurID"],
                element["dateStr"],
                element["langage"],
                element["scoreVote"]
              )
            );
          }
        })
        .then(() => {
          this.setInfos();
        })
        .catch(() => {
          alert("Erreur lors de la récupération des posts");
        });
    },

    setInfos() {
      this.moyenneVotes = this.listePosts
        ? this.listePosts.reduce((acc, current) => acc + current.scoreVote, 0)
        : 0;

      this.nbPosts = `${this.listePosts.length} `;
      this.nbPosts +=
        this.listePosts.length > 1 ? "posts postés" : "post posté";
      this.maxPage = Math.ceil(this.listePosts.length / 5);
    },

    parseDatetime(dateTimeStr: string) {
      return dateTimeStrToDate(dateTimeStr);
    },

    modifier() {
      const form = new FormData();
      form.append("id_utilisateur", this.infos.idUtilisateur);

      if (this.avatar) {
        form.append("photo", this.avatar[0]);
      }

      axios
        .post("http://localhost/api/utilisateur/editer_utilisateur.php", form)
        .then((response) => response.status)
        .then((status) => {
          if (status === 201) {
            window.location.reload();
          } else {
            alert("Erreur lors de la modification de l'image");
          }
        });
    },
  },

  async mounted() {
    this.infos.nomUtilisateur = this.$route.params.id as string;
    await this.fetchInfos();
    this.pret = true;
  },

  watch: {},
});
</script>

<style scoped lang="scss">
@import "~/styles/post.css";
@import "~/styles/utilisateur.css";
@import "~/styles/style.css";
</style>
