<template>
  <nav class="navbar">
    <div class="brand-title">
      <NuxtLink to="/">Code Snippet Share</NuxtLink>
    </div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li v-show="$router.currentRoute.value.path !== '/'">
          <NuxtLink to="/"
            ><i class="fa-solid fa-home" /><span class="text"
              >Accueil</span
            ></NuxtLink
          >
        </li>
        <li
          v-show="connecte"
          :class="[
            $router.currentRoute.value.name === 'nouveaupost' ? 'active' : '',
          ]"
        >
          <NuxtLink to="/nouveaupost"
            ><i class="fa-solid fa-circle-plus" /><span class="text"
              >Nouveau post</span
            ></NuxtLink
          >
        </li>
        <li
          v-show="connecte"
          :class="[
            $router.currentRoute.value.fullPath.includes(nomUtilisateur)
              ? 'active'
              : '',
          ]"
        >
          <NuxtLink :to="`/utilisateur/${nomUtilisateur}`"
            ><i class="fa-solid fa-user" /><span class="text"
              >Mon profil</span
            ></NuxtLink
          >
        </li>
        <li @click="deconnexion()" v-show="connecte">
          <span class="pad">
            <i class="fa-solid fa-right-from-bracket" /><span class="text"
              >Déconnexion</span
            ></span
          >
        </li>
        <li v-show="!connecte">
          <NuxtLink to="/connexion"
            ><i class="fa-solid fa-left-from-bracket" /><span class="text"
              >Connexion</span
            ></NuxtLink
          >
        </li>
      </ul>
    </div>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { getData, setData } from "nuxt-storage/local-storage";

export default defineComponent({
  setup() {
    return {};
  },

  data: () => {
    return {
      idUtilisateur: "",
      nomUtilisateur: "placeholder",
      connecte: false,
    };
  },

  mounted() {
    this.idUtilisateur = getData("id_utilisateur");
    this.nomUtilisateur = getData("nom_utilisateur");
    this.connecte = !!this.idUtilisateur;
  },

  methods: {
    deconnexion() {
      setData("id_utilisateur", null, 1, "d");
      this.$router.push("connexion");
    },
  },
});
</script>

<style scoped lang="css">
@import "~/styles/navbar.css";
</style>
