/* */

<template>
  <div class="post-container">
    <span class="titre">
      <NuxtLink :to="`/post/${$props.idPost}`">
        {{ $props.titre }}
      </NuxtLink>
    </span>

    <div class="details-container">
      <div class="auteur detail">
        <i class="fa-solid fa-user"></i
        ><NuxtLink :to="`/utilisateur/${$props.auteur}`">
          {{ $props.auteur }}
        </NuxtLink>
      </div>

      <div class="langage detail">
        <i class="fa-solid fa-code"></i>{{ $props.langage }}
      </div>
      <div class="date detail">
        <i class="fa-solid fa-calendar"></i>
        <p>{{ getFullDate($props.date) }}</p>
      </div>
      <div class="vote detail">
        <i class="fa-solid fa-thumbs-up"></i>
        <p>{{ $props.scoreVote }}</p>
      </div>
    </div>
  </div>
  <v-divider />
</template>

<script setup lang="ts">
import { defineComponent, defineProps } from "vue";
import { getFullDate } from "../scripts/helper";

defineProps({
  idPost: {
    type: String,
    required: true,
  },

  titre: {
    type: String,
    required: true,
  },

  langage: {
    type: String,
    required: true,
  },

  idAuteur: {
    type: String,
    required: true,
  },

  auteur: {
    type: String,
    required: true,
  },

  date: {
    type: Date,
    required: true,
  },

  scoreVote: {
    type: Number,
    default: 0,
  },
});
</script>

<style scoped lang="scss">
@import "~/styles/post.scss";
</style>
