<template>
  <v-app>
    <div id="background-image" />
    <div id="container">
      <h1>Connexion</h1>
      <img :src="userImg" alt="Utilisateur‧trice" />
      <v-form v-model="valid">
        <v-container>
          <v-col cols="12" md="12" class="form">
            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="username"
              type="text"
              label="Nom d'utilisateur‧trice"
              required
              ><v-icon
                v-if="validation.username === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon
                v-if="validation.username === false"
                slot="append"
                color="red"
                >mdi-close</v-icon
              ></v-text-field
            >

            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="password"
              type="password"
              label="Mot de passe"
              required
              ><v-icon
                v-if="validation.password === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon
                v-if="validation.password === false"
                slot="append"
                color="red"
                >mdi-close</v-icon
              ></v-text-field
            >

            <v-btn :disabled="!valid" @click="submit()">Connexion</v-btn>

            <v-text class="log-text"
              >Vous n'avez pas de compte ? &nbsp;
              <nuxt-link class="cool-link" to="/inscription"
                >Inscrivez-vous</nuxt-link
              ></v-text
            >
          </v-col>
        </v-container>
      </v-form>
    </div>
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import bcrypt from "bcryptjs";
import { getData, setData } from "nuxt-storage/local-storage";
import axios from "axios";

import user from "/assets/user.webp";
export default defineComponent({
  setup() {
    return {};
  },

  data: () => {
    return {
      userImg: user,
      username: "alsagone",
      password: "alsagone123",
      userId: "",
      passwordConfirm: "",
      mail: "",
      valid: false,
      validation: {
        mail: null as boolean | null,
        username: null as boolean | null,
        password: null as boolean | null,
        passwordMatch: null as boolean | null,
      },
    };
  },

  methods: {
    hashPassword(password: string): string {
      const salt = bcrypt.genSaltSync(12);
      return bcrypt.hashSync(password, salt);
    },

    async getUserId() {
      let payload = { nom_utilisateur: this.username };
      const params = new URLSearchParams(payload);
      await axios
        .get(
          `http://localhost/api/utilisateur/get_id_utilisateur.php?${params}`
        )
        .then((response) => {
          this.userId = response.data["reponse"];
        });
    },

    async submit() {
      const formData = new FormData();
      formData.append("nom_utilisateur", this.username);
      formData.append("mot_de_passe", this.password);

      axios
        .post(
          "http://localhost/api/utilisateur/connexion_utilisateur.php",
          formData
        )
        .then((response) => {
          return response.status;
        })
        .then(async (status) => {
          if (status === 200) {
            await this.getUserId();
            setData("id_utilisateur", this.userId, 1, "d");
            setData("nom_utilisateur", this.username, 1, "d");
            this.$router.push("/");
          } else {
            alert("Erreur lors de la connexion");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    },
  },
});
</script>

<style>
@import "~/styles/global.css";
</style>

<style scoped>
@import "~/styles/login.css";
</style>
