<template>
  <v-app>
    <div id="background-image" />
    <div class="container">
      <my-nav />
      <div id="succes" v-show="afficherMessage">
        <i class="fa-solid fa-circle-check"></i> Post ajouté !
      </div>

      <div class="filtres">
        <v-select
          v-model="selectionLangages"
          :items="langagesDisponibles"
          label="Sélection de langage"
          multiple
          chips
          clearable
          hint="Filtrez les posts par langage"
          persistent-hint
        >
        </v-select>

        <v-radio-group v-model="methodeTri">
          <v-radio label="Trier par date" value="date"></v-radio>
          <v-radio label="Trier par nombre de votes" value="votes"></v-radio>
        </v-radio-group>
      </div>

      <div id="liste-posts">
        <post-preview
          v-for="post in liste_filtree.slice(
            (page - 1) * nbPostsParPage,
            page * nbPostsParPage
          )"
          :key="post.id"
          :titre="post.titre"
          :auteur="post.auteur"
          :id-post="post.id"
          :id-auteur="post.auteurID"
          :langage="post.langage"
          :date="parseDatetime(post.dateStr)"
          :score-vote="post.scoreVote"
        />
      </div>

      <div id="pagination" v-show="maxPage > 1">
        <v-btn :disabled="page <= 1" @click="page = Math.max(0, page - 1)"
          ><i class="fa-solid fa-arrow-left"></i
        ></v-btn>
        <v-btn
          :disabled="page >= maxPage"
          @click="page = Math.min(maxPage, page + 1)"
          ><i class="fa-solid fa-arrow-right"></i
        ></v-btn>
        <p>Page {{ page }} / {{ maxPage }}</p>
      </div>
    </div>
  </v-app>
</template>

<script lang="ts">
import axios from "axios";
import { defineComponent } from "vue";
import postPreview from "~/components/postPreview.vue";
import navbar from "~/components/navbar.vue";
import { Post } from "~/interfaces/post";
import { dateTimeStrToDate } from "../scripts/helper";
import { getData, setData } from "nuxt-storage/local-storage";

export default defineComponent({
  setup() {
    return {};
  },

  components: {
    postPreview: postPreview,
    myNav: navbar,
  },

  data: () => {
    return {
      liste_posts: [] as Post[],
      liste_filtree: [] as Post[],
      selectionLangages: [] as string[],
      langagesDisponibles: [] as string[],
      methodeTri: "votes",
      page: 1,
      maxPage: 10,
      nbPostsParPage: 10,
      afficherMessage: false,
    };
  },

  methods: {
    trierPosts() {
      if (this.methodeTri === "votes") {
        this.liste_filtree = this.liste_filtree.sort((a: Post, b: Post) => {
          return a.compareVotes(b);
        });
      } else {
        this.liste_filtree = this.liste_filtree.sort((a: Post, b: Post) =>
          a.compareDate(b)
        );
      }
    },

    parseDatetime(dateTimeStr: string) {
      return dateTimeStrToDate(dateTimeStr);
    },
  },

  mounted() {
    axios.get("http://localhost/api/post/get_posts.php").then((response) => {
      let p: Post;
      for (const element of response.data) {
        p = new Post(
          element["id"],
          element["titre"],
          element["contenu"],
          element["auteur"],
          element["auteurID"],
          element["dateStr"],
          element["langage"],
          element["scoreVote"]
        );

        this.liste_posts.push(p);
        this.liste_filtree.push(p);
      }

      this.langagesDisponibles = Array.from(
        new Set(this.liste_filtree.map((p) => p.langage))
      ).sort();

      this.trierPosts();
      this.maxPage = (this.liste_filtree.length / this.nbPostsParPage) >> 0;
    });

    this.afficherMessage = !!this.$route.query.succes;

    if (this.afficherMessage) {
      setInterval(() => (this.afficherMessage = false), 5000);
    }
  },

  watch: {
    selectionLangages() {
      this.liste_filtree =
        this.selectionLangages.length > 0
          ? this.liste_posts.filter((p) =>
              this.selectionLangages.includes(p.langage)
            )
          : [...this.liste_posts];

      this.maxPage =
        this.nbPostsParPage <= this.liste_filtree.length
          ? (this.liste_filtree.length / this.nbPostsParPage) >> 0
          : 1;
    },

    methodeTri() {
      this.trierPosts();
    },
  },
});
</script>

<style>
@import url("~/styles/style.css");
</style>
