<template>
  <v-app>
    <div id="background-image" />
    <div id="container">
      <h1>Inscription</h1>
      <img :src="userImg" alt="Utilisateur‧trice" />
      <v-form v-model="valid">
        <v-container>
          <v-col cols="12" md="12" class="form">
            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="mail"
              label="Adresse mail"
              :rules="[checkMail]"
              type="email"
              required
            >
              <v-icon
                v-if="validation.mail === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon v-if="validation.mail === false" slot="append" color="red"
                >mdi-close</v-icon
              >
            </v-text-field>

            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="username"
              :rules="[checkUsername]"
              type="text"
              label="Nom d'utilisateur‧trice"
              required
              ><v-icon
                v-if="validation.username === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon
                v-if="validation.username === false"
                slot="append"
                color="red"
                >mdi-close</v-icon
              ></v-text-field
            >

            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="password"
              type="password"
              :rules="[checkPassword]"
              label="Mot de passe"
              required
              ><v-icon
                v-if="validation.password === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon
                v-if="validation.password === false"
                slot="append"
                color="red"
                >mdi-close</v-icon
              ></v-text-field
            >

            <v-text-field
              class="input-field"
              color="#fde74c"
              v-model="passwordConfirm"
              :rules="[checkPasswordMatch]"
              type="password"
              label="Confirmer le mot de passe"
              required
              ><v-icon
                v-if="validation.passwordMatch === true"
                slot="append"
                color="green"
              >
                mdi-check
              </v-icon>
              <v-icon
                v-if="validation.passwordMatch === false"
                slot="append"
                color="red"
                >mdi-close</v-icon
              ></v-text-field
            >

            <v-file-input
              v-model="avatar"
              :rules="reglesAvatar"
              accept="image/png, image/jpeg"
              placeholder="Choisissez un avatar"
              prepend-icon="mdi-camera"
              label="Avatar"
            ></v-file-input>

            <v-btn :disabled="!valid" @click="submit()">Inscription</v-btn>

            <v-text class="log-text"
              >Vous avez déjà un compte ? &nbsp;
              <nuxt-link class="cool-link" to="/connexion"
                >Connectez-vous</nuxt-link
              ></v-text
            >
          </v-col>
        </v-container>
      </v-form>
    </div>
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import * as EmailValidator from "email-validator";
import * as bcrypt from "bcryptjs";
import axios from "axios";

import user from "/assets/user.webp";
export default defineComponent({
  setup() {
    return {};
  },

  data: () => {
    return {
      userImg: user,
      username: "",
      password: "",
      passwordConfirm: "",
      mail: "",
      valid: false,
      validation: {
        mail: null as boolean | null,
        username: null as boolean | null,
        password: null as boolean | null,
        passwordMatch: null as boolean | null,
      },
      avatar: undefined as File[] | undefined,
      reglesAvatar: [
        (f: File[]) => {
          return (
            !f ||
            !f.length ||
            f[0].size < 16000000 ||
            "L'avatar doit peser moins de 16 MB!"
          );
        },
      ],
    };
  },

  methods: {
    hashPassword(password: string): string {
      const salt = bcrypt.genSaltSync(12);
      return bcrypt.hashSync(password, salt);
    },

    async submit() {
      const formData = new FormData();
      formData.append("nom_utilisateur", this.username);
      formData.append("mot_de_passe", this.hashPassword(this.password));
      formData.append("adresse_mail", this.mail);
      if (this.avatar) {
        formData.append("photo", this.avatar[0]);
      }

      await axios
        .post(
          "http://localhost/api/utilisateur/ajout_utilisateur.php",
          formData
        )
        .then((response) => response.status)
        .then((status) => {
          if (status === 201) {
            alert("Inscription réussie !");
            this.$router.push("connexion");
          } else {
            alert("Échec lors de l'inscription");
          }
        })
        .catch((error) => {
          console.log("Erreur: ", error);
        });
    },

    checkMail(value: string): boolean | string {
      if (!value) {
        return "L'adresse mail est requise";
      }

      if (EmailValidator.validate(value)) {
        this.validation.mail = true;
        return true;
      }

      this.validation.mail = false;
      return "Adresse mail invalide";
    },

    checkPassword(value: string): boolean | string {
      if (!value) {
        return "Le mot de passe est requis";
      }

      if (value.length >= 8) {
        this.validation.password = true;
        return true;
      }

      this.validation.password = false;
      return "Le mot de passe doit faire au moins 8 caractères";
    },

    checkPasswordMatch(value: string): boolean | string {
      if (!value) {
        return "La confirmation du mot de passe est requise";
      }

      if (value === this.password) {
        this.validation.passwordMatch = true;
        return true;
      }

      this.validation.passwordMatch = false;
      return "Les mots de passe ne correspondent pas";
    },

    checkUsername(value: string): boolean | string {
      if (!value) {
        return "Le nom d'utilisateur‧trice est requis";
      }

      if (/^[a-zA-Z0-9_-]*$/.test(value)) {
        this.validation.username = true;
        return true;
      }

      this.validation.username = false;
      return "Le nom d'utilisateur‧trice ne peut contenir que les caractères a-z A-Z 0-9 _ - ";
    },
  },
});
</script>

<style>
@import "~/styles/global.css";
</style>

<style scoped>
@import "~/styles/login.css";
</style>
