<template>
  <v-app>
    <div id="background-image" />

    <div class="container">
      <my-nav path="nouveaupost" />
      <h3>Nouveau post</h3>
      <div class="options">
        <v-text-field
          label="Titre du post"
          v-model="titre"
          variant="solo"
        ></v-text-field>
        <v-select :items="langagesDisponibles" v-model="langage" />
      </div>

      <div class="monaco-container">
        <vue-monaco-editor
          v-model:value="code"
          theme="vs-dark"
          :language="langage.toLowerCase()"
          :options="MONACO_EDITOR_OPTIONS"
          @mount="handleMount"
        />
      </div>

      <v-btn class="action" @click="poster()" :disabled="!pretAPoster"
        >Poster</v-btn
      >
    </div>
  </v-app>
</template>

<script lang="ts">
import navbar from "~/components/navbar.vue";
import { getData } from "nuxt-storage/local-storage";
import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
  setup() {
    return {};
  },

  data: () => {
    return {
      MONACO_EDITOR_OPTIONS: {
        automaticLayout: true,
        formatOnType: true,
        formatOnPaste: true,
      },

      code: "",
      idUtilisateur: "",

      langagesDisponibles: [
        "C",
        "CSS",
        "HTML",
        "Java",
        "JavaScript",
        "MySQL",
        "PHP",
        "Python",
        "Rust",
        "TypeScript",
      ],

      langage: "",
      titre: "",
      editorRef: { value: null },
    };
  },
  methods: {
    handleMount(editor) {
      this.editorRef.value = editor;
    },

    formatCode() {
      this.editorRef.value?.getAction("editor.action.formatDocument").run();
    },

    async poster() {
      const formData = new FormData();
      formData.append("titre", this.titre);
      formData.append("contenu", this.code);
      formData.append("langage", this.langage);
      formData.append("id_auteur", this.idUtilisateur);

      axios
        .post("http://localhost/api/post/inserer_post.php", formData)
        .then((response) => {
          return response.status;
        })
        .then((status) => {
          if (status === 201) {
            alert("Post ajouté !");
            this.$router.push("/");
          } else {
            alert("Échec lors de l'ajout du post");
          }
        });
    },
  },
  mounted() {
    this.idUtilisateur = getData("id_utilisateur");

    if (!this.idUtilisateur) {
      this.$router.push("connexion");
    }
  },
  computed: {
    pretAPoster() {
      return this.titre && this.code && this.langage;
    },
  },

  components: {
    myNav: navbar,
  },
});
</script>

<style lang="scss" scoped>
@import "~/styles/style.scss";
@import "~/styles/editor.scss";
</style>
