.container {
  height: 80vh;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}
.options .v-input,
.options .v-select {
  width: 50%;
}

.monaco-container {
  width: 100%;
  height: 75%;
  max-height: 100% !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}/*# sourceMappingURL=editor.css.map */