#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container img {
  max-width: 100px;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(41, 39, 39, 0.3);
  box-shadow: 0 5px 30px black;
  border-radius: 5px;
}

.form .v-btn {
  margin: 10px 0px;
}

.log-text {
  font-size: 0.9em;
}

.message-recuperation {
  background-color: rgba(0, 117, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}/*# sourceMappingURL=login.css.map */