.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.5);
  color: #fff;
  width: 100%;
}
.navbar i {
  margin: 0px 5px;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.brand-title a {
  color: #fff;
  text-decoration: none;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li:hover {
  background-color: #555;
}

.navbar-links li a,
.pad {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-weight: bold;
}

.navbar-links li.active {
  background-color: #ffd23f !important;
}
.navbar-links li.active a {
  color: #3a0b69 !important;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }
  .text {
    display: none;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}/*# sourceMappingURL=navbar.css.map */