.post-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(17, 17, 17, 0.5);
}

.titre {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 5px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0px 5px;
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  i {
    margin: 0px 5px;
  }
}

.post-header {
  color: #000;
}
