@import "variables.scss";

#code-container pre {
  text-align: initial;
}
.vote {
  background-color: $bleu !important;
  color: $blanc !important;
}

#boutons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

#boutons-vote .v-btn {
  margin: 0px 10px;
}

#stats {
  background-color: $transparent;

  ul {
    list-style: none;
  }
}
