#code-container pre {
  text-align: initial;
}

.vote {
  background-color: #5bc0eb !important;
  color: #d3d4d9 !important;
}

#boutons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

#boutons-vote .v-btn {
  margin: 0px 10px;
}

#stats {
  background-color: rgba(17, 17, 17, 0.5);
}
#stats ul {
  list-style: none;
}/*# sourceMappingURL=postPreview.css.map */