@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

html,
body {
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: $bck-color !important;
  color: $blanc;
}

#background-image {
  background-color: #b8c6db;
  background-image: url(backgroundImage.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  touch-action: none;
}

.v-application {
  background-color: revert !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: $jaune;
  font-weight: bold;
}

.action {
  margin: 5px 0px;
  width: max-content;
  padding: 10px;
}

.v-btn {
  background-color: $jaune !important;
  color: $violet !important;
  font-weight: bold;
  margin-bottom: 10px;

  &.success {
    background-color: green !important;
    color: white !important;
  }
}

#succes {
  background-color: rgba(75, 181, 67, 0.7);
  width: 40%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  color: #000;
}

#pagination {
  margin: 10px 0px 30px 0px;

  .v-btn {
    margin: 5px;
  }
}

i {
  margin: 0px 5px;
}

#liste-posts .post-container {
  width: 70vw;
}
