#profil {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 10px 0px;
  justify-content: space-around;
  align-items: center;
}

#user-card {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
#user-card img {
  max-width: 200px;
  height: auto;
}

#liste-posts-user {
  display: flex;
  flex-direction: column;
  width: 60%;
}
#liste-posts-user .post-container {
  width: 100%;
}/*# sourceMappingURL=utilisateur.css.map */