#profil {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 10px 0px;
  justify-content: space-around;
  align-items: center;
}
#user-card {
  width: max-content;
  height: max-content;

  img {
    max-width: 200px;
    height: auto;
  }
}
#liste-posts-user {
  display: flex;
  flex-direction: column;
  width: 60%;

  .post-container {
    width: 100%;
  }
}
